<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="wrapper">
    <header>

      {% if site.logo %}
      <a href="{{ "/" | absolute_url }}">
        <img src="{{site.logo | relative_url}}" alt="Logo" />
      </a>
      {% endif %}

      <p class="site-description">{{ site.description | default: site.github.project_tagline }}</p>

      <div class="nav-wrapper">
        <a href="{{ "/" | absolute_url }}">
          <button class="nav-button" type="button">Inicio</button>
        </a>
        <a href="{{ "/membros" | absolute_url }}">
          <button class="nav-button" type="button">Membros</button>
        </a>
        <a href="{{ "/projetos" | absolute_url }}">
          <button class="nav-button" type="button">Projetos</button>
        </a>
        <a href="{{ "/sobre" | absolute_url }}">
          <button class="nav-button" type="button">Sobre nós</button>
        </a>
      </div>
      <div class="social-links">
        {%- include social.html -%}
      </div>

    </header>

    <section>

      {{ content }}

    </section>
    <footer>
    </footer>
  </div>
  <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  {% if site.google_analytics %}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
</body>

</html>